.dashboardContainer {
  height: calc(100vh - 3.5rem);
  width: 100%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.leftContainer {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.rightContainer {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.userInfoContainer {
  background-color: #ebe8f5;
  border-radius: 0.3rem;
  display: flex;
  gap: 1rem;
  height: 7rem;
  padding: 0 1rem;
  width: 100%;
  align-items: center;
}

.userImage {
  width: 5rem;
  height: 5rem !important;
  border-radius: 50%;
  border: 2px solid green;
  padding: 0.1rem;
  object-fit: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.2rem 0rem 0.2rem 0rem;
  font-size: 0.9rem;
  flex: 1;
}

.userName {
  font-weight: 600;
}

.uniqueUserName {
  color: rgb(255, 0, 0);
  font-style: italic;
}

.userBio {
  color: #6a58d9;
  width: 95%;
  max-height: 4rem;
  overflow: hidden;
}

.followCountContainer {
  display: flex;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.followCard {
  flex: 1;
  background-color: #ebe8f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  filter: none;
  padding: 1rem 0rem;
}

.followCard h3 {
  color: #4caf50;
  font-size: 1.2rem;
}
.followCard p {
  color: black;
  font-size: 1rem;
}

.active {
  background-color: #d4caf4;
}

.followersListContainer {
  background-color: #ebe8f5;
  padding: 1rem;
  border-radius: 0.3rem;
  height: 1rem;
  flex: 1;
}

.followersListContainer p {
  font-size: 1rem;
  font-weight: 600;
}

.followersList {
  height: 93%;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.follower {
  background: #b0a3eb;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.followerImg {
  display: grid;
  place-items: center;
  border: 2px solid green;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  gap: 0.1rem;
  width: 100%;
  height: 2.5rem;
}

.btn {
  width: auto;
  padding: 0 0.6rem;
  font-size: 1rem;
  background-color: #ebe8f5;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #000000;
  filter: none;
}
.btn:hover {
  color: #000;
  background-color: #d4caf4;
}

.svgIcon {
  width: 1.5rem;
}

.notesContainer {
  background-color: #ebe8f5;
  border-radius: 0.3rem;
  flex: 1;
  position: relative;
  overflow-y: auto;
}
.noteSpinnerCont {
  height: 15rem;
  width: 100%;
  display: grid;
  place-items: center;
}
.noteContainerHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 10;
  background: #ebe8f5;
  top: 0;
  width: 100%;
  padding: 0.3rem;
}
.folderTypes {
  display: flex;
  gap: 0.9rem;
  align-items: center;
  background: #826cdd;
  font-size: 1rem;
  border-radius: 0.3rem;
  color: #f7f4f4;
  font-weight: 500;
  padding: 0.1rem 0.5rem;
}

.likeNoteCont {
  margin-top: 0;
}
.notesContainer p {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.dropDownContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: black;
}

.dropDownContent:hover {
  cursor: pointer;
  background: #f1ffe2;
}

.dropDownContentheading {
  font-size: 0.8rem;
  font-weight: 600;
}

.userInfoContainer .settingbtn {
  background: transparent;
}

/* dropdown for mobile view  */
.dropdown {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}

.msgIcon {
  height: 1.3rem;
  width: 1.3rem;
  border: none;
  margin-top: 0.1rem;
  cursor: pointer;
}

/* FOR IMAGE CHANGE */

.dragNdrop {
  width: 100%;
  margin: 1.5rem 0;
  height: 12rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #567191;
  background: #fff;
  border: 2px dashed #826cdd;
  border-radius: 1rem;
  gap: 4px;
}
.dragNdrop p {
  text-align: center;
  font-size: 1.1rem;
}

.browseFilesBtn {
  padding: 0;
  font-weight: 400;
  font-size: 1.1rem;
  color: rgb(103, 78, 201);
  filter: none;
  background: none;
  border: none;
}
.profileImageCont {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  height: 100%;
}
.close {
  position: absolute;
  cursor: pointer;
  top: 0.2rem;
  right: 0.2rem;
}
.viewPhotoCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.viewPhoto {
  transform: scale(1.2);
  width: 12rem;
  height: 12rem;
  margin: auto;
  margin: 1rem 0;
}

/* MODAL STYLES */
.modalBtnCont {
  display: grid;
  place-items: center;
  margin-top: 0.6rem;
}
@media only screen and (max-width: 1024px) {
  .leftContainer {
    width: 40%;
  }
  .rightContainer {
    width: 60%;
  }
  .btn {
    font-size: 0.9rem;
    gap: 0;
    padding: 0rem 0.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .dashboardContainer {
    flex-direction: column;
    padding: 1rem;
  }
  .leftContainer {
    width: 100%;
    height: auto;
  }
  .rightContainer {
    width: 100%;
    height: 50%;
  }

  .userInfoContainer {
    position: relative;
  }

  .followerCard,
  .followingCard {
    padding: 0.8rem 0rem;
  }
  .followerCard p,
  .followingCard p {
    font-size: 0.8rem;
  }
  .followerCard h3,
  .followingCard h3,
  .followersListContainer p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 425px) {
  .dashboardContainer {
    padding: 0.5rem;
  }
  .followerCard,
  .followingCard {
    padding: 0.5rem 0rem;
  }
}
