/* input container started */
.homeSpinnerCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homeSpinnerCont p {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.notesContainer {
  height: calc(100vh - 3.5rem);
  border-top: 0.2rem solid white;
  background: linear-gradient(
    to right,
    #b1a2eb 0%,
    #b1a2eb 50%,
    #fff 50%,
    #fff 100%
  );
  display: grid;
  place-items: center;
}

.centerNoteContainer {
  width: 93%;
  height: 94%;
  border-radius: 0.3rem;
  background: #f5f5f5;
  box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 21.3% 78.7%;
  grid-template-rows: 3rem calc(100% - 3rem);
  overflow-y: hidden;
}

.centerNotesNavbar {
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  height: 3rem;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-gap: 0 0;
}
.blankSpace {
  width: 27%;
  height: 100%;
  background: #826cdd;
}
.searchAndProfilrContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.emptyNotes {
  padding-top: 2rem;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}
.emptyNotes svg {
  height: 100%;
}
.emptyNotes p {
  width: 70%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #6451b3;
}
/* .SearchContainer {
  display: flex;
  align-items: center;
  margin: 0rem 2rem;
  position: relative;
  width: 50%;
}

.SearchContainer img {
  height: 1.5rem;
  position: absolute;
  top: 0.4rem;
  left: 0.2rem;
}
.SearchContainer .search {
  background: #f5f5f5;
  padding-left: 2.5rem;
} */
.selectedFolderCont {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-right: 1rem;
}
.selectedFolderName {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
}
.selectedFolderName span {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: rgb(8, 247, 8);
}
.selectedFolderClose {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(234, 3, 3);
  cursor: pointer;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
}

.FolderNavigationContainer {
  height: 100%;
  width: 100%;
  background: #b1a2eb;
  border-top: 2px solid white;
  font-size: 1rem;
  color: white;
  display: flex;
  padding: 0 0.3rem;
  padding-bottom: 2rem;
  overflow-y: auto;
  flex-direction: column;
}

.InputOutputNotes {
  position: relative;
  border-top: 2px solid white;
  overflow-y: scroll;
}
.addnewfolderbtn {
  width: fit-content;
  margin: 0.5rem auto;
}
.addnewnotebtn {
  width: auto;
}
.addBtnCont {
  width: 100%;
  margin-top: 0.6rem;
  display: grid;
  place-items: center;
}
.addFilterNoteCont {
  display: flex;
  position: sticky;
  top: 0;
  background: #f5f5f5;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
}
.FilterNoteCont {
  display: flex;
  align-items: flex-start;
}
.FilterNoteCont h1 {
  margin-left: 3.2rem;
  font-size: 1.1rem;
  width: 3rem;
  font-weight: 600;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.inputCont {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  position: relative;
  width: 100%;
}
.inputCont h1 {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  padding-left: 0.2rem;
}

.textarea {
  height: 10rem;
}

.inputContainer button,
.addFolder button {
  background: #826cdd;
}

.homeError {
  right: 2rem !important;
}

/* output started */
.spinner-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}
.output {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 1.3rem;
  padding: 1rem;
  margin-top: 2rem;
  position: relative;
}

.button_cnt button:first-child {
  color: red;
}

.button_cnt button:nth-child(2) {
  color: rgb(10, 10, 10);
}

/* Modal */
.heading {
  text-align: center;
  width: 100%;
}
.addFolder {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

/* dropdown */
.dropDown {
  position: absolute;
  top: 0.4rem;
  left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3rem;
}
.menuCont {
  background: rgba(130, 108, 221, 0.8);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}
.colorDropDownTxt {
  font-size: 0.8rem;
  font-weight: 600;
}
.colorDropDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.colorDropDownCont {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.selectedColorDropDownCont {
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
}

@media only screen and (max-width: 1024px) {
  .centerNoteContainer {
    width: 97%;
    grid-template-columns: 27% 73%;
  }
  .blankSpace {
    width: 37%;
  }
  .output {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  .centerNoteContainer {
    width: 90%;
    grid-template-rows: 3rem 12.5rem calc(100% - 15rem);
    overflow-y: hidden;
  }

  .blankSpace {
    display: none;
  }
  .FolderNavigationContainer {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .FolderNavigationContainer ul {
    display: flex;
    gap: 1rem;
  }
  .InputOutputNotes {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .emptyNotes {
    padding-top: 0.9rem;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 95%;
  }
  .emptyNotes p {
    font-size: 1.1rem;
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .centerNoteContainer {
    width: 95%;
  }
  .output {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .inputCont .input::placeholder {
    font-size: 0.7rem;
  }
  .cards h3 {
    font-size: 1rem;
  }
  .emptyNotes p {
    font-size: 1rem;
    width: 92%;
  }
}
