.logo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
  }
  
  .logo h1 {
    background-color: white;
    color: rgb(232, 232, 62);
    box-shadow: 2.5px 2.5px 2.5px rgb(183, 236, 185);
    padding: 3px;
    text-transform: uppercase;
    font-weight: lighter;
    border-radius: 5px;
    font-size: 1.5rem;
  }
  
  .logo h2 {
    text-transform: capitalize;
    font-weight: lighter;
    font-weight: lighter;
    font-size: 1.1rem;
  }