.button {
  outline: none;
  font-size: 1.1rem;
  cursor: pointer;
  width: 13rem;
  border-radius: 0.3rem;
  background: #826cdd;
  color: white;
  padding: 0.4rem 1.2rem;
  border: none;
  display: grid;
  place-items: center;
}

.button:hover {
  background: #e6e6e6;
  color: #826cdd;
}

.loadingBtn:hover {
  background: #7050ef;
}
