.button {
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 0.3rem;
  background: rgb(153, 68, 192);
  color: white;
  padding: 0.6rem 0;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  border: none;
  display: grid;
  place-items: center;
}
