.navbar {
  background-color: #b1a2eb;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  /* temporary for landing page */
  /* display: none; */
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.8rem;
}
.icons .btn {
  background: none;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.msgIcon {
  position: relative;
}
.msgIcon h1 {
  position: absolute;
  top: 0;
  right: -1rem;
  background: red;
  color: #fff;
  font-size: 0.7rem;
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
}

.icons .btn span {
  font-size: 0.8rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .icons .btn span {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .navbar {
    padding: 0rem 0.8rem;
  }
}
